/* mulish-300 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/mulish-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/mulish-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-regular - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/mulish-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/mulish-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-700 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/mulish-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/mulish-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
    box-sizing: border-box;
    list-style: none;
}
.cantainer {
    width: 1400px;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-around;
}
.circle-t {
    font-size: 30px;
    background-color: rgb(78, 78, 236);
    margin: 10px;
    border-radius: 60%;
    color: white ;
}
.title {
    font-weight: 500;
}
.ul-item {
    list-style: none;
    display: flex;
}
.li-item {
    margin: 15px;
    padding-left: 20px;
}
li:hover {
    color: rgb(80, 80, 213);
}
.section-1 {
    margin-left: 170px;
    display: flex;
    padding-top: 40px;
}
.sec-aside {
    padding-top: 100px;
}
.aside-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    padding-bottom: 15px;
}
.aside-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    padding-bottom: 25px;
}
.aside-btn {
    background: #458FF6;
    border-radius: 55px;
    border: transparent;
    width: 180px;
    height: 46px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
button:hover {
    transition: 0.8s;
    background-color :rgb(237, 229, 229);
    color: rgb(39, 39, 205);
}
.aside-img {
    padding: 30px;
}

.our-title {
    text-align: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
}
.our-hr {
    align-items: center;
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 5px;
}
.our-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #7D7987;
    text-align: center;
    width: 952px;
    margin-left: 230px;
}
.six-item-div {
    width: 1120px;
    margin-left: 180px;
    
}
.ul-item2 {
    display: flex;
    justify-content:space-between ;
    list-style: none;
    margin: 20px;
}
.li-item2 {
    box-shadow : 5px 0 10px 2px rgb(232, 228, 228)  ;
    width: 350px;
    height: 354px;
    margin: 10px;
    padding: 34px;
    box-shadow: 15px 15px 0 whitesmoke ,;
    border-radius :10px ;
}
.six-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
}
.six-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}
.six-end {
    margin: 70px  400px;
    border: 2px solid rgb(96, 96, 244);
    border-radius : 30px;
    width: 200px;
    height: 60px;
    text-align: center;
    padding-top: 18px;
    color: white;
    background-color: rgb(96, 96, 244);
    font-size: 16px;
}
h4:hover {
    background-color: white;
    color: #458FF6;
    transition: 0.8s;
}

.bcg {
    background-image: url(./image/Vector-back.jpg);
}
.sec-head {
    display: flex;
    margin-top: 162px;
}

.sec-img {
    width: 600px;
    height: 477px;
}
.div-aside {
    margin-right: 100px;
}
.sec-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    mix-blend-mode: normal;
}
.hr2 {
    width: 56px;
    height: 3px;
    margin-left: 0;
    background: #000000;
    border-radius: 10px;
}
.sec-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    width: 450px;
    height: 120px;
}

.six-end2 {
    margin-top :50px;
    border: 2px solid rgb(96, 96, 244);
    border-radius : 30px;
    width: 200px;
    height: 60px;
    text-align: center;
    padding-top: 18px;
    color: white;
    background-color: rgb(122, 122, 246);
    font-size: 16px;
}
h4:hover {
    background-color: white;
    color: #458FF6;
    transition: 0.8s;
}

.sec-head2 {
    margin-top: 200px;
    display: flex;
}
.six-end3 {
    margin-top :30px;
    border: 2px solid rgb(96, 96, 244);
    border-radius : 30px;
    width: 200px;
    height: 60px;
    text-align: center;
    padding-top: 18px;
    color: rgb(114, 114, 235);
    background-color: white;
    font-size: 16px;
}
.img-icon {
    margin-left: 25px;
}

.sec-border {
    
    margin-top: 200px;
    width: 1120px;
    height: 425px;
    left: 240px;
    top: 3727px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    
}
.border-title {
    text-align: center;
    padding: 40px 0 0  ;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}
.hr-border {
    width: 56px;
    height: 2px;
    left: 776px;
    top: 3861px;
    background: #FFFFFF;
    border-radius: 6px;
}

.border-div {
    display: flex;
    
}
.border-aside {
    width: 50%;
    margin: 80px 80px 100px;
}
.border-bside {
    width: 50%;
}
.edgrd-text {
    display: inline-block;
    
}
.border-h5 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
}
.border-text {  
    margin-top: 40px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);
}
.text-bside {
    width: 420px;
    margin: 60px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
}

.left-right {
    width: 336.43px;
    height: 20px;
    left: 633px;
    top: 4191px;
    margin-top: 40px;
    margin-left: 400px;
    display: flex;
    justify-content: space-around;
}
.sec-three-box {
    margin-top: 200px;
}
.three-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    text-align: center;
}
.three-hr {
    width: 56px;
    height: 4px;
    left: 772px;
    top: 4515px;
    background: #000000;
    border-radius: 5px;
}
.three-box {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.first-box {
    width: 350px;
    height: 512px;
    box-shadow : 10px 0 10px 2px rgb(232, 228, 228)  ;
    border-radius: 20px;
}
.three-title2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
}
.three-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

.three-link {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #4089ED;
    text-decoration: none;
}
.three-img {
    width: 14.14px;
    height: 9px;
    left: 388.71px;
    top: 5065px;
    margin-left: 15px;
}
.three-btn {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
    border-radius: 50px ;
    width: 200px;
    height: 60px;
    border: 1px solid rgb(80, 80, 213);
    margin-left: 40%;
    margin-top: 70px;
    background-color: #fff;
}
/* footer start */

.footer {
    /* display: flex; */
    margin-top: 200px;
    height: 432px;
    width: 100%;
    left: 0px;
    top: 5438px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}
.footer-div1 {
    display: flex;
}
.footer-inside-div {
    width: 390px;
    margin: 140px;
}
.footer-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.footer-text2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.ul-title {
    width: 92px;
    height: 60px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
}
.footer-li {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
}
.footer-ul2 {
    display: inline-block;
    width: 220px;
    justify-content: space-between;
    margin-top: 100px;
}